@{
    ViewData["Title"] = "Home Page";
}

<div class="p-1">

    <header class="bg-surface-primary pt-6">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-sm-6 col-12 mb-4 mb-sm-0">
                    <h1 class="h2 mb-0 ls-tight">Human Capital Management</h1>
                </div>
            </div>
        </div>
    </header>


    <main class="py-6 bg-surface-secondary mt-2">
        <div class="container-fluid">
            <div class="row g-6 mb-6 my-5">
                <div class="col-xl-3 col-sm-6 col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <span class="h6 font-semibold text-muted text-sm d-block mb-2">Number of Employees</span>
                                    <span id="employeeNumbers" class="h3 font-bold mb-0"></span>
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-tertiary text-white text-lg rounded-circle">
                                        <i class="bi bi-credit-card"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-2 mb-0 text-sm">
                                <span class="badge badge-pill bg-opacity-30 bg-success text-success me-2">
                                    <i class="bi bi-arrow-up me-1"></i>
                                </span>
                                <span class="text-nowrap text-xs text-muted">Since the beginning</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <span class="h6 font-semibold text-muted text-sm d-block mb-2">Number of departments</span>
                                    <span id="departmentNumbers" class="h3 font-bold mb-0"></span>
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-primary text-white text-lg rounded-circle">
                                        <i class="bi bi-people"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-2 mb-0 text-sm">
                                <span class="badge badge-pill bg-opacity-30 bg-success text-success me-2">
                                    <i class="bi bi-arrow-up me-1"></i>
                                </span>
                                <span class="text-nowrap text-xs text-muted">Since the beginning</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <span class="h6 font-semibold text-muted text-sm d-block mb-2">Number of new employees</span>
                                    <spa id="newEmployees" class="h3 font-bold mb-0"></spa>
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-info text-white text-lg rounded-circle">
                                        <i class="bi bi-clock-history"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-2 mb-0 text-sm">
                                <span class="badge badge-pill bg-opacity-30 bg-success text-success me-2">
                                    <i class="bi bi-arrow-down me-1"></i>-5%
                                </span>
                                <span class="text-nowrap text-xs text-muted">Since the beginning of this month</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <span class="h6 font-semibold text-muted text-sm d-block mb-2">Work load</span>
                                    <span class="h3 font-bold mb-0">95%</span>
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-warning text-white text-lg rounded-circle">
                                        <i class="bi bi-minecart-loaded"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-2 mb-0 text-sm">
                                <span class="badge badge-pill bg-opacity-30 bg-success text-success me-2">
                                    <i class="bi bi-arrow-up me-1"></i>
                                </span>
                                <span class="text-nowrap text-xs text-muted">Since last month</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row g-5 mb-4 my-5">
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Best performing employees</h6>
                        </div>
                        <div class="card-body">
                            <table class="table table-hover table-borderless">
                                <thead>
                                <th scope="col">Fullname</th>
                                <th scope="col">Bonus amount</th>
                                <th scope="col">Bonus count</th>
                                </thead>
                                <tbody id="bonusTableBody">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Worst performing employees</h6>
                        </div>
                        <div class="card-body">
                            <table class="table table-hover table-borderless">
                                <thead>
                                <th scope="col">Fullname</th>
                                <th scope="col">Deduction amount</th>
                                <th scope="col">Deduction count</th>
                                </thead>
                                <tbody id="deductionTable">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 offset-md-2">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Upcoming tasks</h6>
                        </div>
                        <div class="card-body">
                            <table class="table table-hover table-borderless">
                                <thead>
                                <th scope="col">Task name</th>
                                <th scope="col">Employee name</th>
                                <th scope="col">Description</th>
                                <th scope="col">Issuer name</th>
                                <th scope="col">Duedate</th>
                                <th scope="col">Status name</th>
                                <th scope="col">Priority name</th>
                                </thead>
                                <tbody id="upcomingTasks">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Employees with Birthday this month</h6>
                        </div>
                        <div class="card-body">
                            <table class="table table-hover table-borderless">
                                <thead>
                                <th scope="col">Fullname</th>
                                <th scope="col">Date</th>
                                <th scope="col">Age</th>
                                </thead>
                                <tbody id="employeeBirthdays">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-7">
            <div class="card-header">
                <h5 class="mb-0">Applications</h5>
            </div>
            <div class="table-responsive">
                <table class="table table-hover table-nowrap">
                    <thead class="table-light">
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Date</th>
                            <th scope="col">Company</th>
                            <th scope="col">Offer</th>
                            <th scope="col">Meeting</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <a class="text-heading font-semibold" href="#">
                                    Robert Fox
                                </a>
                            </td>
                            <td>
                                Feb 15, 2021
                            </td>
                            <td>
                                <a class="text-heading font-semibold" href="#">
                                    Dribbble
                                </a>
                            </td>
                            <td>
                                $3.500
                            </td>
                            <td>
                                <span class="badge badge-lg badge-dot">
                                    <i class="bg-success"></i>Scheduled
                                </span>
                            </td>
                            <td class="text-end">
                                <a href="#" class="btn btn-sm btn-neutral">View</a>
                                <button type="button" class="btn btn-sm btn-square btn-neutral text-danger-hover">
                                    <i class="bi bi-trash"></i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a class="text-heading font-semibold" href="#">
                                    Darlene Robertson
                                </a>
                            </td>
                            <td>
                                Apr 15, 2021
                            </td>
                            <td>
                                <a class="text-heading font-semibold" href="#">
                                    Netguru
                                </a>
                            </td>
                            <td>
                                $2.750
                            </td>
                            <td>
                                <span class="badge badge-lg badge-dot">
                                    <i class="bg-warning"></i>Postponed
                                </span>
                            </td>
                            <td class="text-end">
                                <a href="#" class="btn btn-sm btn-neutral">View</a>
                                <button type="button" class="btn btn-sm btn-square btn-neutral text-danger-hover">
                                    <i class="bi bi-trash"></i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a class="text-heading font-semibold" href="#">
                                    Theresa Webb
                                </a>
                            </td>
                            <td>
                                Mar 20, 2021
                            </td>
                            <td>
                                <a class="text-heading font-semibold" href="#">
                                    Figma
                                </a>
                            </td>
                            <td>
                                $4.200
                            </td>
                            <td>
                                <span class="badge badge-lg badge-dot">
                                    <i class="bg-success"></i>Scheduled
                                </span>
                            </td>
                            <td class="text-end">
                                <a href="#" class="btn btn-sm btn-neutral">View</a>
                                <button type="button" class="btn btn-sm btn-square btn-neutral text-danger-hover">
                                    <i class="bi bi-trash"></i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a class="text-heading font-semibold" href="#">
                                    Kristin Watson
                                </a>
                            </td>
                            <td>
                                Feb 15, 2021
                            </td>
                            <td>
                                <a class="text-heading font-semibold" href="#">
                                    Mailchimp
                                </a>
                            </td>
                            <td>
                                $3.500
                            </td>
                            <td>
                                <span class="badge badge-lg badge-dot">
                                    <i class="bg-dark"></i>Not discussed
                                </span>
                            </td>
                            <td class="text-end">
                                <a href="#" class="btn btn-sm btn-neutral">View</a>
                                <button type="button" class="btn btn-sm btn-square btn-neutral text-danger-hover">
                                    <i class="bi bi-trash"></i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a class="text-heading font-semibold" href="#">
                                    Cody Fisher
                                </a>
                            </td>
                            <td>
                                Apr 10, 2021
                            </td>
                            <td>
                                <a class="text-heading font-semibold" href="#">
                                    Webpixels
                                </a>
                            </td>
                            <td>
                                $1.500
                            </td>
                            <td>
                                <span class="badge badge-lg badge-dot">
                                    <i class="bg-danger"></i>Canceled
                                </span>
                            </td>
                            <td class="text-end">
                                <a href="#" class="btn btn-sm btn-neutral">View</a>
                                <button type="button" class="btn btn-sm btn-square btn-neutral text-danger-hover">
                                    <i class="bi bi-trash"></i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a class="text-heading font-semibold" href="#">
                                    Robert Fox
                                </a>
                            </td>
                            <td>
                                Feb 15, 2021
                            </td>
                            <td>
                                <a class="text-heading font-semibold" href="#">
                                    Dribbble
                                </a>
                            </td>
                            <td>
                                $3.500
                            </td>
                            <td>
                                <span class="badge badge-lg badge-dot">
                                    <i class="bg-success"></i>Scheduled
                                </span>
                            </td>
                            <td class="text-end">
                                <button type="button" class="btn btn-sm btn-square btn-neutral text-danger-hover">
                                    <i class="bi bi-trash"></i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a class="text-heading font-semibold" href="#">
                                    Darlene Robertson
                                </a>
                            </td>
                            <td>
                                Apr 15, 2021
                            </td>
                            <td>
                                <a class="text-heading font-semibold" href="#">
                                    Netguru
                                </a>
                            </td>
                            <td>
                                $2.750
                            </td>
                            <td>
                                <span class="badge badge-lg badge-dot">
                                    <i class="bg-warning"></i>Postponed
                                </span>
                            </td>
                            <td class="text-end">
                                <button type="button" class="btn btn-sm btn-square btn-neutral text-danger-hover">
                                    <i class="bi bi-trash"></i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a class="text-heading font-semibold" href="#">
                                    Theresa Webb
                                </a>
                            </td>
                            <td>
                                Mar 20, 2021
                            </td>
                            <td>
                                <a class="text-heading font-semibold" href="#">
                                    Figma
                                </a>
                            </td>
                            <td>
                                $4.200
                            </td>
                            <td>
                                <span class="badge badge-lg badge-dot">
                                    <i class="bg-success"></i>Scheduled
                                </span>
                            </td>
                            <td class="text-end">
                                <button type="button" class="btn btn-sm btn-square btn-neutral text-danger-hover">
                                    <i class="bi bi-trash"></i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a class="text-heading font-semibold" href="#">
                                    Kristin Watson
                                </a>
                            </td>
                            <td>
                                Feb 15, 2021
                            </td>
                            <td>
                                <a class="text-heading font-semibold" href="#">
                                    Mailchimp
                                </a>
                            </td>
                            <td>
                                $3.500
                            </td>
                            <td>
                                <span class="badge badge-lg badge-dot">
                                    <i class="bg-dark"></i>Not discussed
                                </span>
                            </td>
                            <td class="text-end">
                                <a href="#" class="btn btn-sm btn-neutral">View</a>
                                <button type="button" class="btn btn-sm btn-square btn-neutral text-danger-hover">
                                    <i class="bi bi-trash"></i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a class="text-heading font-semibold" href="#">
                                    Cody Fisher
                                </a>
                            </td>
                            <td>
                                Apr 10, 2021
                            </td>
                            <td>
                                <a class="text-heading font-semibold" href="#">
                                    Webpixels
                                </a>
                            </td>
                            <td>
                                $1.500
                            </td>
                            <td>
                                <span class="badge badge-lg badge-dot">
                                    <i class="bg-danger"></i>Canceled
                                </span>
                            </td>
                            <td class="text-end">
                                <a href="#" class="btn btn-sm btn-neutral">View</a>
                                <button type="button" class="btn btn-sm btn-square btn-neutral text-danger-hover">
                                    <i class="bi bi-trash"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-footer border-0 py-5">
                <span class="text-muted text-sm">Showing 10 items out of 250 results found</span>
            </div>
        </div>
    </main>
</div>


<style>

    body {
        color: #252525;
        overflow-x: hidden;
        height: 100%;
        background-color: #f8f9fc;
        background-repeat: no-repeat;
    }

    h1 {
        color: #4e73df;
    }

    thead {
        background: #4e73df;
        color: #f8f9fc;
    }

    th {
        color: #f8f9fc;
    }
</style>

@section Scripts
    {
    <script>

        const token = "Bearer " + localStorage.getItem("Authorization");
        const baseUrl = "https://localhost:7153";
        const statisticsUrl = `${baseUrl}/statistics`;

        function LoadData() {
            $.ajax({
                url: statisticsUrl + "/home",
                type: "Get",
                headers: { "Authorization": token },
                contentType: 'application/json',
                success: function (data) {
                    console.log(data);

                    const departmentNum = $("#departmentNumbers");
                    const employeeNum = $("#employeeNumbers");
                    const newEmployeeNum = $("#newEmployees");

                    departmentNum.text(data.numberOfDepartments);
                    employeeNum.text(data.numberOfEmployees);
                    newEmployeeNum.text(data.numberOfNewEmployeesThisMonth);

                    const bonusTableBody = $("#bonusTableBody");

                    $.each(data.bestPerformingEmployees, function (index, employee) {
                        bonusTableBody.append(`
                  <tr>
                    <td>${employee.employeeName}</td>
                    <td>${employee.bonusAmount}</td>
                    <td>${employee.bonusesCount}</td>
                  </tr>`);
                    });

                    const deductionTable = $("#deductionTable");

                    $.each(data.worstPerformingEmployees, function (_, employee) {
                        deductionTable.append(`
                  <tr>
                    <td>${employee.employeeName}</td>
                    <td>${employee.deductionAmount}</td>
                    <td>${employee.deductionCount}</td>
                  </tr>`);
                    });

                    const employeeBirthdays = $("#employeeBirthdays");

                    $.each(data.employeeBirthdays, function (_, employee) {
                        employeeBirthdays.append(`
                  <tr>
                    <td>${employee.employeeName}</td>
                    <td>${employee.birthDate}</td>
                    <td>${employee.age} -> ${employee.age + 1}</td>
                  </tr>`);
                    });

                    const upcomingTasks = $("#upcomingTasks");

                    $.each(data.employeeBirthdays, function (_, employee) {
                        upcomingTasks.append(`
                  <tr>
                    <td>${employee.taskName}</td>
                    <td>${employee.description}</td>
                    <td>${employee.employeeName}</td>
                    <td>${employee.issuerName}</td>
                    <td>${employee.dueDate}</td>
                    <td>${employee.status.statusName}</td>
                    <td>${employee.priority.priorityName}</td>
                  </tr>`);
                    });
                }
            });
        }

        $(document).ready(function () {
            LoadData();
        })
    </script>
    }
