@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    <div class="card my-5">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            DataTable Example
        </div>
    </div>
    <div class="card-body">
        <section class="flex-column col">
            <div>
                <img class="card-img border border-1 mh-100">
                <h5 class="card-text fw-bold">Pesho</h5>
            </div>
        </section>
        <section class="flex-column col">
            <p>Department: IT</p>
            <p>Position: Software Developer</p>
            <p>Seniority: Junior</p>
            <p>Working from: 2015</p>
            <div>
                <img class="" />
            </div>
        </section>
    </div>
    
    <div class="card my-5">
        <div class="card-body">
            <form class="row g-3">
                <div class="col-md-6">
                    <label for="phone" class="form-label">Phone Number</label>
                    <input type="text" class="form-control" id="phone">
                </div>
                <div class="col-md-6">
                    <label for="inputState" class="form-label">Country of Birth</label>
                    <select id="inputState" class="form-select">
                        <option selected>Choose...</option>
                        <option>...</option>
                    </select>
                </div>
                <div class="col-12">
                    <label for="inputState" class="form-label">Country of Residence</label>
                    <select id="inputState" class="form-select">
                        <option selected>Choose...</option>
                        <option>...</option>
                    </select>
                </div>
                <div class="col-12">
                    <label for="inputState" class="form-label">Gender</label>
                    <select id="inputState" class="form-select">
                        <option selected>Choose...</option>
                        <option>...</option>
                    </select>
                </div>
                <div class="col-md-12">
                    <input type="date"/>
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Sign in</button>
                </div>
            </form>
        </div>
    </div>

    <div class="card">
        <div class="card-header">

        </div>
        <section class="">
            <h4>Projects</h4>
        </section>
        <section>
            <h4>Your Manager</h4>
        </section>
    </div>
</div>

