
<div class="m-3">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <form id="query" class="d-flex">
                <div class="form-group">
                    <label for="textInput" class="mr-2">Search for Department:</label>
                    <input name="Search" type="text" class="form-control" id="textInput" placeholder="Enter text">
                </div>
                <div class="form-group mx-3">
                    <label for="countries" class="mr-2">Select an option:</label>
                    <select id="countries" name="CountryId" class="form-control" id="selectOption1">
                        <!-- Add your select options here -->
                    </select>
                </div>
                <div class="form-group mx-3">
                    <label for="sort" class="mr-2">Select an option:</label>
                    <select id="sort" name="Sort" class="form-control" id="selectOption2">
                        <!-- Add your select options here -->
                    </select>
                </div>
                <div class="form-group mx-3">
                    <a id="formSearch" class="btn btn-dark">Search</a>
                </div>
            </form>
        </div>
    </nav>

    <div class="container mt-4">
        <div id="departmentContainer" class="row">
            <!-- Your department content here -->
        </div>
    </div>
</div>



@if (false)
{
    <script src="~/lib/jquery/dist/jquery.js" type="text/javascript"></script>
}

@section Scripts
    {
    <script type="text/javascript">

        let token = "Bearer " + localStorage.getItem("Authorization");
        let container = $('#departmentContainer');

        function FillDepartmentContainer(departments) {
            container.empty();
            departments.forEach(function (department) {
                console.log(department);
                let departmentCard = $('<div class="card col-md-3 mb-3 mx-5"></div>');

                let departmentImage = $('<img class="card-img-top" src="' + department.departmentImageUrl + '" />');

                let badge = $('<div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">' + department.departmentName + '</div>');

                let departmentName = $('<h5 class="fw-bolder">' + department.departmentName + '</h5>');

                let departmentLocation = $('<p class="text-center mt-1">' + department.location + '</p>');

                let departmentFooter = $('<div class="card-footer"></div>');

                let employeeCount = $('<small>' + department.departmentEmployeeCount + ' employees</small>');

                let capacity = $('<small>Total capacity ' + department.departmentTotalEmployeeCapacity + '</small>');

                let country = $('<small>' + department.departmentCountry + '</small>');

                let detailsButton = $(`<div class="card-footer p-4 pt-0 border-top-0 bg-transparent"><div class="text-center"><a class="btn btn-outline-dark mt-auto" href="/departments/details/2">Details</a></div></div>`);


                departmentCard.append(departmentImage);
                departmentCard.append(badge);
                departmentCard.append(departmentName);
                departmentCard.append(departmentLocation);
                departmentFooter.append(employeeCount);
                departmentFooter.append(capacity);
                departmentFooter.append(country);
                departmentFooter.append(detailsButton);
                departmentCard.append(departmentFooter);

                container.append(departmentCard);
            });
        };

        $(document).ready(function () {
            $.ajax({
                url: 'https://localhost:7153/departments/options',
                type: 'GET',
                headers: { "Authorization": token },
                success: function (data) {

                    let arr = JSON.parse(data);
                    console.log(arr);

                    let arguments = "";
                    for (let i = 0; i < arr.countries.length; i++) {
                        arguments += '<option value="' + arr.countries[i].id + '">' + arr.countries[i].name + '</option>';
                    }
                    $("#countries").html(arguments);

                    arguments = "";
                    for (let i = 0; i < arr.sort.length; i++) {
                        arguments += '<option value="' + arr.sort[i] + '">' + arr.sort[i] + '</option>';
                    }
                    $("#sort").html(arguments);

                },
                error: function (xhr, status, error) {
                }
            });

            $.ajax({
                url: 'https://localhost:7153/departments/all/main',
                type: 'GET',
                headers: { "Authorization": token },
                success: function (data) {
                    console.log(data);
                    let departments = JSON.parse(data);
                    console.log(departments);

                    FillDepartmentContainer(departments);
                },
                error: function (xhr, status, error) {
                    // Handle any errors
                }
            });

            $("#formSearch").click(function () {
                const department = $("#textInput").val();
                const country = $("#countries").val();
                const sort = $("#sort").val();

                const baseUrl = 'https://localhost:7153/departments/all/main';
                const queryParams = [];

                if (department) {
                    queryParams.push(`Search=${department}`);
                }
                if (country) {
                    queryParams.push(`CountryId=${country}`);
                }
                if (sort) {
                    queryParams.push(`Sort=${sort}`);
                }

                if (queryParams.length > 0) {
                    const urlWithParams = `${baseUrl}?${queryParams.join("&")}`;
                    const currentUrl = `https://localhost:7039/departments?${queryParams.join("&")}`;
                    window.history.pushState({}, '', currentUrl);
                    $.ajax({
                        url: urlWithParams,
                        type: 'GET',
                        headers: { "Authorization": token },
                        success: function (data) {
                            let departments = JSON.parse(data);
                            console.log(`change`);
                            FillDepartmentContainer(departments);
                        },
                        error: function (xhr, status, error) {
                            // Handle any errors
                        }
                    });
                }
            });
        });
    </script>
}
